
<h1>asd</h1>

<EditForm Model="userLogin" OnSubmit="HandleLogin">

    <h2>Iniciar Sesion</h2>

    @foreach (Models.FormInputsLogin Input in InputsLogin)
    {
        <label for="@Input.Name">@Input.Placeholder</label>
        <div>
            <InputText 
                id="@Input.Name"
                @bind-Value="userLogin[Input.Name]" 
                type="@Input.Type"
                class="form-control col-sm-3" 
            ></InputText>
            @*Investigar sobre reflection para poder hacer userLogin[Input.Name]    *@
            @*https://social.msdn.microsoft.com/Forums/es-ES/8aff9759-ea44-4ea1-b3a6-ba44cd4d5d91/acceder-a-una-propiedad-de-un-objeto-dinamicamente?forum=vsgenerales*@
            <p>@Input.ErrorMessage</p>    
        </div>
    }

</EditForm>

@code {



    /* https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expressions Para exp Reg */
    public List<Models.FormInputsLogin> InputsLogin = new List<Models.FormInputsLogin>
    {
        new Models.FormInputsLogin
        {
            Placeholder = "Correo electronico: ",
            ErrorMessage ="El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.",
            ExpReg = new Regex(@"/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/i") ,
            Name = "Email",
            Type = "email"
        },
        new Models.FormInputsLogin
        {
            Placeholder = "Contraseña: ",
            Type = "password",
            Name = "Password",
            ExpReg = new Regex(@"/^.{6,255}$/"),
            ErrorMessage = "Minimo 6 caracteres",
        }
    };

    public Models.FormLogin userLogin = new Models.FormLogin();


    private string HandleLogin()
    {
        int asd = 4
        Console.WriteLine("aaa");
        if (asd == 4)
        {
            return "";
        }
    };
}
