@page "/Home"
@*Incorporamos el store dentro del index *@
@inject StoreGlobal.GlobalStore storeGlobal;

@*LOADER*@
<PageTitle>HOME</PageTitle>


<main>

    <h1> ESTO ES EL HOME </h1>

    <h3>Datos del usuario logueado</h3>
    <p>Email: @storeGlobal.GetMyUserData().Email</p>
    <p>LastName: @storeGlobal.GetMyUserData().LastName</p>
    <p>NameCompleted: @storeGlobal.GetMyUserData().NameCompleted</p>
    <p>Token: @storeGlobal.GetMyUserData().Token</p>
    <p>UserName: @storeGlobal.GetMyUserData().UserName</p>

</main>


@code{

    

}